/* Dark theme */
body{
    color: aliceblue;
    background-color: rgba(54, 50, 50, 0.993);
}


/* Custom page */
#title-primary {
    text-align: center;
    color: rgb(79, 157, 221)
    
}

.title-secondary {
    color: rgb(79, 221, 178)
    
}

#link-tiramisu{
    color: yellow;
}

#link-muffin{
    color: aqua;
}

#link-chocolate{
    color: chocolate;
}


