/* Dark theme */
body{
    color: aliceblue;
    background-color: rgba(54, 50, 50, 0.993);
}


/* Custom page */
h1 {
    text-align: center;
    color: rgb(79, 157, 221)
    
}

h2 {
    color: rgb(79, 221, 178)
    
}




